<section class="s3">
  <div class="div_">
    <header>
      <h2>Experiencia</h2>
    </header>
  <!--   <div class="div-card-edit">
      <app-card-edit
       [data]="proyecto"
       *ngFor="let proyecto of proyectos"
      ></app-card-edit>
    </div> -->


 <div class="card-img">
      <app-img-card
       [data]="proyecto"
       *ngFor="let proyecto of proyectos"
       [class.selected]="proyecto === selectName"
       (click)="selectCard(proyecto)"
       (thisAction)="cardView($event)"
      ></app-img-card>
    </div>

<div *ngIf="_card && selectName">

  <app-card
  (thisNewAction)="cardView($event)"
  [data]="selectName"
  >
  </app-card>

</div>
  </div>
</section>
