
<section class="s1">
  <div class="div_" >
  <header>
<h2>Educacion</h2>
  </header>


</div>
</section>

<section class="s2">
  <div class="div_" >
  <header>
    <h2>Experiencia</h2>
  </header>

</div>
</section>

<section class="s3">
  <div class="div_">
    <header>
      <h2>Experiencia</h2>
    </header>
    <div class="div-card-edit">
      <app-card-edit></app-card-edit>
    </div>
  <div *ngIf="_login" class="div-for">
    <ul class="img-card-for">
    <li  *ngFor="let proyecto of proyectos" class="li-img">


      <app-img-card
       [class.selected]="proyecto === selectName"
       (click)="selectCard(proyecto)"
       (thisAction)="cardView($event)"
       [alt]="proyecto.src"
       [src]="proyecto.src"
       [title]="proyecto.nameE"></app-img-card>

  </li>
  </ul>
</div>
<div *ngIf="_card && selectName">


  <app-card
  (thisNewAction)="cardView($event)"
  [alt]="selectName.alt"
  [href]="selectName.href"
  [exp]="selectName.exp"
  [nameE]="selectName.nameE"

  ></app-card>

</div>
  </div>
</section>



<section class="s4" >

<div class="div_" >
    <header>
      <h2>Experiencia</h2>
    </header>

</div>

</section>
