*{
  border: none;
}
.card-img{
  display: block;
  width:90%;
  height:var(--alto,90%)  ;
  background-color:chartreuse;

  margin-top: 4%;
  margin-left: 5%;
}


.btn-img{

  border:none;
  outline: none;
  height:  6vh;
  width: 4vw;
border-radius:var(--borderRadius);
  background-color:var( --color_hover_contac) ;
}

.img-baner{
  display: block;
  margin-top: -18%;
  margin-left: 2;
  border-end-end-radius: 8% 8% ;
  height: 50vh;
  width: 95vw;
  background-color: chartreuse;
  position: absolute;
  z-index: 1;
}
.img-foto{
  display :block;
  margin-top: 22.9%;
  margin-left: 5%;
  border-radius: 50%;
  height: 40vh;
  width: 20vw;
  background-color: blue;
  position: relative;
  z-index: 2;
}
.img-ap{
  width: 7vw;
  height: var(--header_ancho) ;
}
