*{
  border: none;
}
.card-img{
  display: block;
  width:90%;
  height:var(--alto,90%)  ;
  background-color:chartreuse;

  margin-top: 4%;
  margin-left: 5%;
}


.btn-img{

  border:none;
  outline: none;
  height:  6vh;
  width: 4vw;
border-radius:var(--borderRadius);
  background-color:var( --color_hover_contac) ;
}

.img-ap{
  width: 7vw;
  height: var(--header_ancho) ;
}
