

  .btncs{
    display: flex;
    justify-content: space-around;
   margin-top: 2%;

  }

  .btn-div{
    display: flex;
    justify-content: space-between;
   }

  .btn-img{

    border:none;
    outline: none;
    height:  6vh;
    width: 4vw;
    background-color:transparent;
  }
  .btn-div:hover{
   border-radius:50%;
   box-shadow: 0 20px 40px var(--color_shadow_contac_1), 0 20px 40px var(--color_shadow_contac_2) ;
   animation-name:btn-contac;
   background:var(--color_hover_contac);
   animation-duration: 0.5s;
   animation-fill-mode:forwards;

  }
  @keyframes btn-contac {
  0% {

  margin-top: 1.2%;
  }
  50% {

  margin-top: 3%;
  }
  100% {

  margin-top: 3,5%;
  }
  }
