.div-btn{
  display: flex;
  justify-content: space-evenly;
    width: 28vw;
    height: 10vh;
    background-color: chartreuse;
    border-radius: 10%;
    border: darkgreen solid 0.3em;
    border-radius:3% ;
  }

  .btn{
    margin-top: 5%;
  }
  .div-btn:hover{
    background-color: cornflowerblue;
  }
