

      <div class="contenedor">

        <div class="btn" >
        <app-btn-edit
        (click)="closeCard(_close)"
         ></app-btn-edit>
        </div>

            <a href="{{href}}" target="blank">

              <div class="div-img">


                <img src="{{src}}" alt="{{alt}}">
            </div>
            <div class="div-text">
             <div class="div-title">
          <div class="div-titlet">
              <h3>{{nameE}}</h3>
            </div>


          </div>
            <div  class="div-exp">
              <div class="div-expt">
              <h5>{{exp}}</h5>
            </div>


            </div>

            </div>
            </a>
            </div>
